{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 4,
  "semi": false,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100
}
